<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio to Text Transcriber/Translator</title>
</head>
<body>
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".mp3, .wav, .m4a, .flac, .ogg, .aac, .wma, .mp4, .webm" required>
        <button type="submit">Upload</button>
    </form>

    <div id="result"></div>

    <!-- Script is loaded below from the app.js file. Use this notation for commenting in the HTML part with the arrows and the !. --> 
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
