<!-- Host page where someone hosting a room can record what they are saying -->
 <!-- Audio recorded is sent to backend for transcription -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeechLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='host.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

</head>
<body>
    <h1>SpeechLink</h1>
    <h2>Room Session</h2>

    <div class="controls-container">
        <h3>HOST Session ID: <span id="codeOutput"></span></h3>
        <div class="form-group">
            <button id="recordHost">Record</button>
        </div>
    </div>

<!-- Result text goes here -->
<div id="result"></div>

<script>
    let sessionID = new URLSearchParams(window.location.search).get("code");
    document.getElementById("codeOutput").textContent = sessionID;
    result = document.getElementById("result")
    result.innerText = ""

    // Create socket
    let socket = io()

    socket.emit('join_room', sessionID)
    socket.on('joined', () => {
        console.log("Joined room");
    })

    document.getElementById('recordHost').addEventListener('click', function(event) {

        const recordButton = document.getElementById('recordHost')
        let processing = false

    if(document.getElementById('button')) {
        return;
    }
    // Since we are sending data quite often it is beneficial to use a websocket instead of remaking HTTP requests 100 times
    // https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder
    if (navigator.mediaDevices) {
        console.log("getUserMedia supported.");
        // ask for audio (microphone) access
        const constraints = { audio: true };
        // Chunks will contain our cumulative audio chunks. Opted to send audio cumulatively because 
        // the first chunk is the only one that contains the header, making subsequent chunks invalid audio files.
        // It was also an issue to do chunks individually because some words can get split in the middle of when they are spoken
        // Whisper performs better with context so the transcription will improve overtime 
        let chunks = [];
        let recording = false;
        // HeaderBlob contains the header for the file
        let headerBlob = null;
        result.innerText = "Result: "
    
        navigator.mediaDevices
        .getUserMedia(constraints)
        .then((stream) => {
            // create mediaRecorder object and start recording
            const mediaRecorder = new MediaRecorder(stream, {
                // webm format to improve compatibility (ogg didnt work for chrome)
                // https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/mimeType
                mimeType: 'audio/webm'
              });
            // 1000 means ondatavailable will be called every 2000 ms or 2 seconds
            mediaRecorder.start(1000);

            // create socket https://socket.io/docs/v4/tutorial
            //socket = io(); 
            
            console.log("WebSocket created")
            socket.on('connect', () => {
                console.log("Websocket connected")
            })
            
            socket.on('disconnect', () => {
                console.log("Websocket disconnected")
            }) 
            recording = true;
            recordButton.innerText = "Recording";
            
            // create stop button
            const stopButton = document.createElement("button");
            stopButton.textContent = "Stop";
            document.body.appendChild(stopButton)
            // Set function for stop button
            stopButton.onclick = () => {
                console.log("Stop clicked");
                recordButton.innerText = "Record";
                mediaRecorder.stop(); 
                recording = false;
                document.body.removeChild(stopButton);
            }
            mediaRecorder.onstop = () => {
                console.log("Mediarecorder stopped")
                if(processing === false) {
                    // concatenate all remaining data we have and send it
                    // chunks should already contain header 
                    let concatenatedBlob = new Blob(chunks, { type: 'audio/webm' });
                    socket.emit('message', concatenatedBlob)
                    socket.close()
                }
            }
            // this aggregates data into chunks from the event e (takes place everytime new data is available)
            mediaRecorder.ondataavailable = async (e) =>  {
                console.log(chunks.length)
                // send to backend via websocket
                if(headerBlob == null) {
                    console.log("headerBlob is null")
                    // get webm header. 
                    // get first 2000 bytes
                    headerBlob = e.data.slice(0, 2000);
                    chunks.push(headerBlob)
                }  
                // dont want to overload server so when we are processing (i.e. waiting for a message from the backend)
                // we push audio data onto chunks
                if(processing) {
                    chunks.push(e.data);
                    return;
                }
                chunks.push(e.data)
                // concatenate audio chunks and send to backend
                let conBlob = new Blob(chunks, { type: 'audio/webm' });
                // add room metadata
                const codeNmessage = {
                    code: sessionID,
                    msg: conBlob
                };
                // emit message
                socket.emit('message', codeNmessage)
 
                console.log("Message sent")
                processing = true;
                // await response from server
                await new Promise((resolve, reject) => {
                    socket.on('message', (msg) => {
                        result.innerText = msg;
                        console.log(`MESSAGE RECEIVED ${msg}`);
                        resolve();
                    });
                })
                processing = false;
            }
        })
        .catch((err) => {
            console.error(`Error occured: ${err}`)
        });
    }
})

</script>

<div class="image-container">
    <img src="{{ url_for('static', filename='assets/mic.jpg') }}" alt="Mic">
</div>
    
</body>
</html>