<!-- HTML File for index page (the first page you see on frontend) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeechLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

</head>
<body>
    <h1>SpeechLink</h1>
    <div class="room-controls">
        <button id="createRoom">Create New Room</button>
        <div class="room-code-entry">
            <input type="text" id="roomCode" placeholder="Enter room code">
            <button id="joinRoom">Join Room</button>
        </div>
    </div>

    <div id="errorMsg" style="color: red; margin-top: 10px;"></div>
    
    <div class="image-container">
        <img src="{{ url_for('static', filename='assets/mic.jpg') }}" alt="Mic">

    </div>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
