<!-- HTML file for user (not the host) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeechLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

</head>
<body>
    <h1>SpeechLink</h1>
    <h2>Room Session</h2>

    <div class="controls-container">
        <h3>USER Session ID: <span id="codeOutput"></span></h3>
    </div>

    <div id="result"></div>

    <style>
    #result {
        width: 80%;
        max-width: 400px;
        margin: 20px auto;
        text-align: center;
    }
    </style>

    <script>
        // Get code
        let params = new URLSearchParams(window.location.search);
        let sessionID = params.get("code");
        let prevMsg = null
        let hostSessionID = null

        // Result contains transcribed text from host 
        result = document.getElementById("result")
        result.innerText = ""

        // Set code onto page
        document.getElementById("codeOutput").textContent = sessionID;

        // Create socket
        socket = io()

        socket.emit('join_room', sessionID)
        socket.on('joined', () => {
            console.log("Joined room: " + sessionID);
        })
        // Socket function to receive transcribed text from backend
        socket.on('request', (msg) => {
            console.log("Received transcription:", msg);
                result.innerText = msg;
                console.log(`MESSAGE RECEIVED ${msg}`);
            })
    </script>
</body>
</html>